/* ROOT */
:root {
    --primary: rgb(68, 148, 223);
    --grey: rgb(229, 242, 247);
    --header-color: #333;
    --sub-color: #888;
    --white-text: #fff;
}

/* GLOBAL */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

.grid {
    display: grid;
}

.btn {
    outline: none;
    border: none;
}

.pointer {
    cursor: pointer;
}

.parent {
    grid-template-columns: 20vw 80vw;
    grid-template-rows: 15vh 85vh;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
}

/* -- navigation section */
.sidebar.section {
    grid-area: sidebar;
    background-color: var(--primary);
    color: var(--white-text);
    display: grid;
    grid-template-rows: 100px auto;
}

.logo.container {
    grid-row: 1 / 2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.nav-list {
    width: 90%;
    margin: 0 auto;
}

#bottomNav {
    margin-top: 1rem;
}

.nav-list.item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 1rem 0;
    cursor: pointer;
}

.nav-list.item > i {
    text-align: center;
}

.nav-list.item > * {
    flex: 0 1 30px;
}

/* -- header section */
.header.section {
    width: 95%;
    margin: 0 auto;
    grid-area: header;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "search search alerts"
        "greeting actions actions";
}

.header.section > * {
    align-self: center;

}

.search-bar,
.alerts-bar,
.greeting-bar {
    display: flex;
    align-items: center;
    gap: 10px;

}

.search-bar {
    grid-area: search;
}
#searchInput {
    background-color: var(--grey);
    border-radius: 25px;
    border: none;
    outline: none;
    width: 80%;
    font-size: 0.85rem;
    padding: 0.5rem;
}

.alerts-bar {
    grid-area: alerts;
    justify-content: flex-end;
}
.user-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: purple;
}

.greeting-bar {
    grid-area: greeting;
}
.user-greeting > p {
    font-size: 0.70rem;
}

.actions-bar {
    grid-area: actions;
    display: flex;
    gap: 10px;
}
.btn.primary {
    flex: 1;
    background-color: var(--primary);
    color: var(--white-text);
    font-weight: bold;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    transition: all 300ms ease-in-out;
}
.btn.primary:hover {
    color: var(--primary);
    outline: 3px solid var(--primary);
    background-color: transparent;
    transition: all 300ms ease-in-out;
}

.main.section {
    grid-area: main;
    background-color: var(--grey);
    grid-template-columns: 2fr 275px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "projects announcements"
        "projects trending";
    gap: 1rem;
    padding: 0 0.5rem;
    overflow: hidden;
}
.projects.container {
    margin: 1rem 0;
    grid-area: projects;
    overflow: hidden;
}
.announcements.container {
    margin: 1rem 0 0 0;
    grid-area: announcements;
}
.trending.container {
    margin: 0 0 1rem 0;
    grid-area: trending;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    padding: 0 0 2rem 0;
}

.cards-grid::-webkit-scrollbar {
    display: none;
}

.cards-grid > .card-container {
    background-color: #fff;
    border-radius: 5px;
    border-left: 5px solid orange;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 200px;
}

.card-container > .text > h4 {
    font-size: 0.9rem;
}
.card-container > .text > p {
    font-size: 0.75rem;
}
.card-container > .buttons {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

@media (max-width:1000px){
    .cards-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }
  }

.half {
    display: flex;
    flex-direction: column;
}

.container-title {
    color: var(--header-color);
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.content-box {
    background-color: var(--white-text);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 15px;
    height: 100%;
}

.content.announcement {
    line-height: 100%;
}

.content.announcement > h6 {
    font-size: 0.8rem;
}

.content.announcement > p {
    font-size: 0.70rem;
}

.content.trend {
    display: flex;
    gap: 10px;
}

.trend-info > h6 {
    color: var(--header-color);
    font-size: 14px;
}

.trend-info > p {
    color: var(--sub-color);
    font-size: 0.8rem;
}

.seperator {
    margin: 0.5rem;
}